	<footer class="globFooter">
		<div class="globFooter__top">
			<div class="globFooter__container">
				<div class="globFooter__inner">
					<div class="globFooter__nav globFooterNav">
						<ul class="globFooterNav__items">
							<li class="globFooterNav__item">
								<span class="globFooterNav__title">{% t products.title %}</span>
								<ul class="globFooterNav__subNav globFooterSubNav">
									<li class="globFooterSubNav__item">
										<a href="{% t products.p_01.url %}">{% t products.p_01.title %}</a>
									</li>
									<li class="globFooterSubNav__item">
										<a href="{% t products.p_02.url %}">{% t products.p_02.title %}</a>
									</li>
									<li class="globFooterSubNav__item">
										<a href="{% t products.p_03.url %}">{% t products.p_03.title %}</a>
									</li>
									<li class="globFooterSubNav__item">
										<a href="{% t products.p_04.url %}">{% t products.p_04.title %}</a>
									</li>
								</ul>
							</li>
							<li class="globFooterNav__item globFooterNav__item--noTitle">
								<span class="globFooterNav__title"></span>
								<ul class="globFooterNav__subNav globFooterSubNav">
									<li class="globFooterSubNav__item">
										<a href="{% t products.p_05.url %}">{% t products.p_05.title %}</a>
									</li>
									<li class="globFooterSubNav__item">
										<a href="{% t products.p_06.url %}">{% t products.p_06.title %}</a>
									</li>
									<li class="globFooterSubNav__item">
										<a href="{% t products.p_07.url %}">{% t products.p_07.title %}</a>
									</li>
								</ul>
							</li>

							{% assign nav = site.management | where: 'type', 'nav-footer' %}
							{% assign nav = nav[0] %}

							{% if nav.published != false %}

								<li class="globFooterNav__item">
									<span class="globFooterNav__title">{% value nav.header %}</span>
									<ul class="globFooterNav__subNav globFooterSubNav">

										{% for item in nav.items %}

											<li class="globFooterSubNav__item">
												<a href="{% path item.url %}" {% target {{ item.is_open_in_new_tab }} %}>{% value item.title %}</a>
											</li>

										{% endfor %}

									</ul>
								</li>

							{% endif %}
						</ul>
					</div>

					{% assign nav = site.management | where: 'type', 'footer-logos' %}
					{% assign nav = nav[0] %}

					{% if nav.published != false %}
					
						<div class="globFooter__logos globFooterLogos">

							{% for item in nav.items %}
										
								{% capture url %}{% value item.url %}{% endcapture %}
								{% assign url = url | strip %}

								{% if url != empty %}
									<a url="{{ url }}" class="globFooterLogos__item" {% target {{ item.is_open_in_new_tab }} %}>
										<img src="{{ item.image | imgix_url }}" alt="">
									</a>
								{% else %}
									<div class="globFooterLogos__item">
										<img src="{{ item.image | imgix_url }}" alt="">
									</div>
								{% endif %}

							{% endfor %}

						</div>

					{% endif %}
				</div>
			</div>
		</div>
		<div class="globFooter__bottom">
			<div class="globFooter__container">
				<div class="globFooter__inner">
					{% assign nav = site.management | where: 'type', 'nav-bottom' %}
					{% assign nav = nav[0] %}

					{% if nav.published != false %}
					
						<div class="globFooter__links globFooterLinks">

							{% for item in nav.items %}

								<a href="{% path item.url %}" class="globFooterLinks__item" {% target {{ item.is_open_in_new_tab }} %}>
									{% value item.title %}
								</a>

							{% endfor %}

						</div>

					{% endif %}


					{% assign nav = site.management | where: 'type', 'nav-social-icons' %}
					{% assign nav = nav[0] %}

					{% if nav.published != false %}

						<div class="globFooter__social globFooterSocial">
							<div class="globFooterSocial__inner">
								<span class="globFooterSocial__title">{% t follow_us %}:</span>

								{% for item in nav.items %}

									<a href="{{ item.url }}" target="_blank" class="globFooterSocial__item globFooterSocial__item--{{ item.icon }}"></a>

								{% endfor %}

							</div>
						</div>

					{% endif %}
				</div>
			</div>
		</div>
	</footer>


	{% assign zendesk_subdomain = site.zendesk_subdomain | strip %}
	{% if zendesk_subdomain != empty %}

		<script type="text/javascript">
			window.zESettings = {
				webWidget: {
					launcher: {
						chatLabel: {
							'ar': 'المحادثة'
						}
					}
				}
			};
		</script>
		<script>
			/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","{{ zendesk_subdomain }}.zendesk.com");
			/*]]>*/
		</script>
		<script>
			zE(function() {
				zE.setLocale('{{ site.lang }}');
			});
		</script>

	{% endif %}

	{% assign hotjar_id              = site.hotjar_id | strip %}
	{% assign hotjar_snippet_version = site.hotjar_snippet_version | strip %}
	{% if hotjar_id != empty and hotjar_snippet_version != empty %}

		<script>
			(function(h,o,t,j,a,r){
				h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
				h._hjSettings={hjid:{{ hotjar_id }},hjsv:{{ hotjar_snippet_version }}};
				a=o.getElementsByTagName('head')[0];
				r=o.createElement('script');r.async=1;
				r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
				a.appendChild(r);
			})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
		</script>

	{% endif %}

	<link rel="stylesheet" href="/css/main.css" type="text/css" media="all">
	<link rel="stylesheet" href="/globals/css/styles.css" type="text/css" media="all">

	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/globals/js/scripts.js"></script>

	<script type="text/javascript">
		new Core();
	</script>

</body>
</html>