	<footer class="globFooter">
		<div class="globFooter__top">
			<div class="globFooter__container">
				<div class="globFooter__inner">
					<div class="globFooter__nav globFooterNav">
						<ul class="globFooterNav__items">
							<li class="globFooterNav__item">
								<span class="globFooterNav__title">{% t products.title %}</span>
								<ul class="globFooterNav__subNav globFooterSubNav">
									<li class="globFooterSubNav__item">
										<a href="{% t products.p_01.url %}">{% t products.p_01.title %}</a>
									</li>
									<li class="globFooterSubNav__item">
										<a href="{% t products.p_02.url %}">{% t products.p_02.title %}</a>
									</li>
									<li class="globFooterSubNav__item">
										<a href="{% t products.p_03.url %}">{% t products.p_03.title %}</a>
									</li>
									<li class="globFooterSubNav__item">
										<a href="{% t products.p_04.url %}">{% t products.p_04.title %}</a>
									</li>
								</ul>
							</li>
							<li class="globFooterNav__item globFooterNav__item--noTitle">
								<span class="globFooterNav__title"></span>
								<ul class="globFooterNav__subNav globFooterSubNav">
									<li class="globFooterSubNav__item">
										<a href="{% t products.p_05.url %}">{% t products.p_05.title %}</a>
									</li>
									<li class="globFooterSubNav__item">
										<a href="{% t products.p_06.url %}">{% t products.p_06.title %}</a>
									</li>
									<li class="globFooterSubNav__item">
										<a href="{% t products.p_07.url %}">{% t products.p_07.title %}</a>
									</li>
								</ul>
							</li>

							{% assign nav = site.management | where: 'type', 'nav-footer' %}
							{% assign nav = nav[0] %}

							{% if nav.published != false %}

								<li class="globFooterNav__item">
									<span class="globFooterNav__title">{% value nav.header %}</span>
									<ul class="globFooterNav__subNav globFooterSubNav">

										{% for item in nav.items %}

											<li class="globFooterSubNav__item">
												<a href="{% path item.url %}" {% target {{ item.is_open_in_new_tab }} %}>{% value item.title %}</a>
											</li>

										{% endfor %}

									</ul>
								</li>

							{% endif %}
						</ul>
					</div>

					{% assign nav = site.management | where: 'type', 'footer-logos' %}
					{% assign nav = nav[0] %}

					{% if nav.published != false %}
					
						<div class="globFooter__logos globFooterLogos">

							{% for item in nav.items %}
										
								{% capture url %}{% value item.url %}{% endcapture %}
								{% assign url = url | strip %}

								{% if url != empty %}
									<a url="{{ url }}" class="globFooterLogos__item" {% target {{ item.is_open_in_new_tab }} %}>
										<img src="{{ item.image | imgix_url }}" alt="">
									</a>
								{% else %}
									<div class="globFooterLogos__item">
										<img src="{{ item.image | imgix_url }}" alt="">
									</div>
								{% endif %}

							{% endfor %}

						</div>

					{% endif %}
				</div>
			</div>
		</div>
		<div class="globFooter__bottom">
			<div class="globFooter__container">
				<div class="globFooter__inner">
					{% assign nav = site.management | where: 'type', 'nav-bottom' %}
					{% assign nav = nav[0] %}

					{% if nav.published != false %}
					
						<div class="globFooter__links globFooterLinks">

							{% for item in nav.items %}

								<a href="{% path item.url %}" class="globFooterLinks__item" {% target {{ item.is_open_in_new_tab }} %}>
									{% value item.title %}
								</a>

							{% endfor %}

						</div>

					{% endif %}


					{% assign nav = site.management | where: 'type', 'nav-social-icons' %}
					{% assign nav = nav[0] %}

					{% if nav.published != false %}

						<div class="globFooter__social globFooterSocial">
							<div class="globFooterSocial__inner">
								<span class="globFooterSocial__title">{% t follow_us %}:</span>

								{% for item in nav.items %}

									<a href="{{ item.url }}" target="_blank" class="globFooterSocial__item globFooterSocial__item--{{ item.icon }}"></a>

								{% endfor %}

							</div>
						</div>

					{% endif %}
				</div>
			</div>
		</div>
	</footer>

	{% assign zendesk_subdomain = site.zendesk_subdomain | strip %}
	{% if zendesk_subdomain != empty %}

		<div class="zendeskButton">
			<span>
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
					<path d="M11,12.3V13c0,0-1.8,0-2,0v-0.6c0-0.6,0.1-1.4,0.8-2.1c0.7-0.7,1.6-1.2,1.6-2.1c0-0.9-0.7-1.4-1.4-1.4 c-1.3,0-1.4,1.4-1.5,1.7H6.6C6.6,7.1,7.2,5,10,5c2.4,0,3.4,1.6,3.4,3C13.4,10.4,11,10.8,11,12.3z"></path>
					<circle cx="10" cy="15" r="1"></circle>
					<path d="M10,2c4.4,0,8,3.6,8,8s-3.6,8-8,8s-8-3.6-8-8S5.6,2,10,2 M10,0C4.5,0,0,4.5,0,10s4.5,10,10,10s10-4.5,10-10S15.5,0,10,0 L10,0z"></path>
				</svg>
			</span>
			<span class="zendeskButton__label" data-waiting="{% t zendesk.waiting %}">{% t zendesk.label %}</span>
		</div>

		<script>
			document.zendeskHost = '{{ zendesk_subdomain }}.zendesk.com';
			document.zendeskLang = '{{ site.lang }}';
		</script>

	{% endif %}

	{% assign hotjar_id              = site.hotjar_id | strip %}
	{% assign hotjar_snippet_version = site.hotjar_snippet_version | strip %}
	{% if hotjar_id != empty and hotjar_snippet_version != empty %}

		<script>
			(function(h,o,t,j,a,r){
				h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
				h._hjSettings={hjid:{{ hotjar_id }},hjsv:{{ hotjar_snippet_version }}};
				a=o.getElementsByTagName('head')[0];
				r=o.createElement('script');r.async=1;
				r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
				a.appendChild(r);
			})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
		</script>

	{% endif %}

	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/globals/js/scripts.js"></script>

	<script type="text/javascript">
		new Core();
	</script>

</body>
</html>