<style type="text/css">
	@font-face {
		font-family: 'DINNextLTArabic';
		src: url('/font/DINNextLTArabic/DINNextLTArabic-Light.eot?#iefix') format('embedded-opentype'),
			url('/font/DINNextLTArabic/DINNextLTArabic-Light.woff') format('woff'),
			url('/font/DINNextLTArabic/DINNextLTArabic-Light.ttf') format('truetype'),
			url('/font/DINNextLTArabic/DINNextLTArabic-Light.svg#DINNextLTArabic-Light') format('svg');
		font-weight: 300;
		font-style: normal;
	}

	@font-face {
		font-family: 'DINNextLTArabic';
		src: url('/font/DINNextLTArabic/DINNextLTArabic-Regular.eot?#iefix') format('embedded-opentype'),
			url('/font/DINNextLTArabic/DINNextLTArabic-Regular.woff') format('woff'),
			url('/font/DINNextLTArabic/DINNextLTArabic-Regular.ttf') format('truetype'),
			url('/font/DINNextLTArabic/DINNextLTArabic-Regular.svg#DINNextLTArabic-Regular') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'DINNextLTArabic';
		src: url('/font/DINNextLTArabic/DINNextLTArabic-Medium.eot?#iefix') format('embedded-opentype'),
			url('/font/DINNextLTArabic/DINNextLTArabic-Medium.woff') format('woff'),
			url('/font/DINNextLTArabic/DINNextLTArabic-Medium.ttf') format('truetype'),
			url('/font/DINNextLTArabic/DINNextLTArabic-Medium.svg#DINNextLTArabic-Medium') format('svg');
		font-weight: 500;
		font-style: normal;
	}

	@font-face {
		font-family: 'DINNextLTArabic';
		src: url('/font/DINNextLTArabic/DINNextLTArabic-Bold.eot?#iefix') format('embedded-opentype'),
			url('/font/DINNextLTArabic/DINNextLTArabic-Bold.woff') format('woff'),
			url('/font/DINNextLTArabic/DINNextLTArabic-Bold.ttf') format('truetype'),
			url('/font/DINNextLTArabic/DINNextLTArabic-Bold.svg#DINNextLTArabic-Light') format('svg');
		font-weight: bold;
		font-style: normal;
	}

	@font-face {
		font-family: 'DINNextLTPro';
		src: url('/font/DINNextLTPro/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
			url('/font/DINNextLTPro/DINNextLTPro-Regular.woff') format('woff'),
			url('/font/DINNextLTPro/DINNextLTPro-Regular.ttf') format('truetype'),
			url('/font/DINNextLTPro/DINNextLTPro-Regular.svg#DINNextLTPro-Regular') format('svg');
		font-weight: normal;
		font-style: normal;
	}
</style>