.events{
	position: relative;

	&--single {
		margin: 10rem 0;
	}
	
	&__items{
		
	}
	
	&__item{
		display: block;
		margin-top: 2rem;
	}
	
	&__link{
		position: relative;
		display: block;
		padding: 2.2rem 0;
		border-radius: 0.3rem;
		color: $c-dark;
		background-color: transparent;
		transition: color 0.2s ease-out, background-color 0.2s ease-out;

		&:focus,
		&:hover{
			transition: color 0.2s ease-out 0.1s, background-color 0.2s ease-out 0.1s;
			color: $c-lightest;
			background-color: $c-main;

			.events{

				&__inner{
					transition: left 0.2s ease-out;
					left: 6%;

					@include parent('body', '[dir=rtl]') {
						transition: right 0.2s ease-out;
						left: auto;
						right: 6%;
					}
				}

				&__date{
					transition: color 0.2s ease-out 0.1s;
					color: $c-lightest;
				}

				&__title{
					transition: border-color 0.2s ease-out 0.1s;
					border-color: $c-mainDark;
				}
			}
		}
	}

	&__inner{
		position: relative;
		display: block;
		width: 88%;
		left: 0%;
		transition: left 0.2s ease-out 0.1s;

		@include parent('body', '[dir=rtl]') {
			left: auto;
			right: 0%;
			transition: right 0.2s ease-out 0.1s;
			text-align: right;
		}
	}

	&__date{
		z-index: 1;
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		color: $c-mainDark;
		font-size: 1.4rem;
		line-height: 1.6rem;
		text-transform: uppercase;
		margin-top: -0.8rem;
		width: 12rem;
		transition: color 0.2s ease-out;

		@include parent('body', '[dir=rtl]') {
			left: auto;
			right: 0;
			text-align: right;
		}
	}

	&__title{
		z-index: 0;
		position: relative;
		font-size: 1.8rem;
		line-height: 2.2rem;
		font-weight: 500;
		margin-left: 12rem;
		padding-left: 2rem;
		border-left: 1px solid $c-border;
		transition: border-color 0.2s ease-out;

		@include parent('body', '[dir=rtl]') {
			margin-left: 0;
			padding-left: 0;
			border-left: 0;
			margin-right: 12rem;
			padding-right: 2rem;
			border-right: 1px solid $c-border;
		}
	}
}