.homeGrid{
	position: relative;
  z-index: 11;

	&__introBox{
		padding: 7rem;
	}

	&__items{
		position: relative;
		margin-top: -3rem;
		margin-left: -3rem;

		&:after{
			@include clr;
		}
	}

	&__item{
		position: relative;
		width: grid(1,4);
		float: left;

		&:before{
			@include aratio(1,1);
		}

		&--horizontal{
			width: grid(2,4);
			
			&:before{
				@include aratio(2,1);
			}
		}

		&--vertical{
			&:before{
				@include aratio(1,2);
			}
		}

		&--size{
			padding: 0;
			visibility: hidden;

			&:before{
				display: none;
			}
		}
	}

	&__space{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		padding-top: 3rem;
		padding-left: 3rem;
	}

	&__box{
		position: relative;
		width: 100%;
		height: 100%;
		color: $c-darkest;
		background-color: $c-light;
		border-radius: 0.5rem;
		box-sizing: border-box;
		overflow: hidden;
		transform: translateZ(0);

		&--dark{
			color: $c-lightest;
			background-color: $c-grayDark;
		}

		&--t{
			padding-bottom: 3rem;
		}

		&--b{
			padding-top: 3rem;
		}

		&--l{
			padding-right: 3rem;
		}

		&--r{
			padding-left: 3rem;
		}

		&:hover{
			.homeGrid__bgImg{
				transition: transform 10s ease;
				transform: scale(1.1);
			}
		}
	}

	&__bgImg{
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		transform: scale(1);
		transition: transform 0.6s ease-out;
	}

	&__content{
		z-index: 1;
		position: relative;
		width: 100%;
		height: 100%;
		font-size: 0;

		&:after{
			@include vcAfter;
		}

		&--t{
			height: 50%;
		}
		
		&--b{
			margin-top: 100%;
			height: 50%;
		}

		&--l{
			margin-right: 50%;
			width: 50%;
		}

		&--r{
			margin-left: 50%;
			width: 50%;
		}
	}

	&__inner{
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		box-sizing: border-box;
		padding: 1rem;
	}
}