.homeBanner{
	position: relative;
	height: 100vh;
	color: $c-lightest;
	background-color: $c-dark;

	&__bgVideo {
		position: fixed;
		top: 0;
		left: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		background-size: cover;
		opacity: 0.45;

		@media screen and (max-width: 1023px) {
			display: none;
		}
	}

	&__bgImage {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 0.45;
	}

	&__bgMobile {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 0.45;

		@media screen and (min-width: 1024px) {
			display: none;
		}
	}

	&__masks{
		z-index: 1;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		height: 42px;
		border-bottom: 1rem solid $c-lightest;
	}

	&__mask{
		position: absolute;
		bottom: 0;
		width: 50%;
		height: 100%;
		background-color: $c-lightest;

		&:before{
			content: '';
			display: block;
			width: 95px;
			height: 100%;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			position: absolute;
			bottom: 0;
		}

		&--l{
			right: 50%;
			margin-right: 95px;

			&:before{
				right: -95px;
				background-position: 0% 100%;
				background-image: url(../img/bannerMask-l.png);
			}
		}

		&--r{
			left: 50%;
			margin-left: 95px;

			&:before{
				left: -95px;
				background-position: 100% 100%;
				background-image: url(../img/bannerMask-r.png);
			}
		}
	}

	&__content{
		z-index: 2;
		position: relative;
		height: 100%;
		box-sizing: border-box;
		padding: 9rem 0;
		font-size: 0;

		&:after{
			@include vcAfter;
		}
	}

	&__center{
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}

	&__mouse{
		display: block;
		width: 24px;
		position: absolute;
		bottom: 30px;
		left: 50%;
		margin-left: -12px;
	}

	&__mouseBody,
	&__mouseWheel{
		display: block;
		width: 100%;
		height: auto;
		top: 0;
		left: 0;
	}
	
	&__mouseBody{
		z-index: 0;
		position: relative;

		@media screen and (max-width: 1024px) {
			display: none;
		}

		&--mobile {
			display: none;

			@media screen and (max-width: 1024px) {
				display: block;
			}
		}
	}

	&__mouseWheel{
		top: 7px;
		right: 0;
		width: 6px;
		margin: 0 auto;
		z-index: 1;
		position: absolute;
		animation-name: mouse-wheel;
		animation-duration: 1.2s;
		animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
		animation-iteration-count: infinite;
		animation-direction: normal;

		@media screen and (max-width: 1024px) {
			display: none;
		}

		&--mobile {
			display: none;
			top: 11px;
			width: 10px;
			animation-name: mouse-wheel-mobile;

			@media screen and (max-width: 1024px) {
				display: block;
			}
		}
	}
}