.newsletter {
  position: relative;
  padding: 65px 0;
  overflow: hidden;

  &__image {
    float: right;
    margin-top: 5px;
    max-width: 100%;
    height: auto;

    @include parent('body', '[dir=rtl]') {
      float: left;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 26px;

    strong {
      font-weight: 700;
    }
  }

  &__groups {
    margin: 35px -25px 0 -25px;
    overflow: hidden;
  }

  &__group {
    display: inline-block;
    padding: 5px 25px;
    box-sizing: border-box;

    input {
      display: none;
    }

    label {
      position: relative;
      padding-left: 28px;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      cursor: pointer;
      transition: color .3s;

      @include parent('body', '[dir=rtl]') {
        padding-left: 0;
        padding-right: 28px;
      }

      &:hover {
        color: rgba(0, 0, 0, .33);
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        border: 1px solid rgba(#2b2b2b, .33);
        border-radius: 3px;
        box-sizing: border-box;

        @include parent('body', '[dir=rtl]') {
          left: auto;
          right: 0;
        }
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        left: 2px;
        width: 14px;
        height: 14px;
        background-color: $c-main;
        border-radius: 3px;
        transition: transform .3s;
        transform: scale(0);

        @include parent('body', '[dir=rtl]') {
          left: auto;
          right: 2px;
        }
      }
    }

    input:checked + label {

      &:after {
        transform: scale(1);
      }
    }
  }

  &__columns {
    margin: 30px -5px 0 -5px;
    overflow: hidden;
  }

  &__email {
    float: left;
    width: 264px;
    height: 44px;
    padding: 0 20px;
    margin: 5px;
    color: #2b2b2b;
    font-weight: 500;
    font-size: 14px;
    line-height: 42px;
    border: 1px solid #b9b9b9;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 3px;

    @include parent('body', '[dir=rtl]') {
      float: right;
    }
  }

  &__submit {
    float: left;
    margin: 5px;
    cursor: pointer;

    @include parent('body', '[dir=rtl]') {
      float: right;
    }
  }

  div.mce_inline_error,
  #mce-error-response,
  #mce-success-response {
    clear: both;
    float: none;
    width: 100%;
    padding: 5px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: red;
  }

  #mce-error-response,
  #mce-success-response {
    padding: 5px 0;
  }

  #mce-success-response {
    color: $c-main;
  }
}