.offerBoxWrap {
	position: relative;
}

.offerBox {
	position: relative;
	border-radius: 8px;
	overflow: hidden;
	z-index: 10;

	&.sticky {
		position: fixed;
		top: 100px;
	}

	&__map {
		width: 100%;
		height: 28.2rem;
	}

	&__data {
		color: rgb(255, 255, 255);
		background-color: $c-accent;
		text-align: center;
		overflow: hidden;

		@include parent('body', '[dir=rtl]') {
			text-align: right;
		}
	}

	&__amount {
		font-size: 3.2rem;
		line-height: 3.5rem;
		text-transform: uppercase;
		font-weight: 300;
		margin-top: 31px;

		span {
			font-weight: 500;
		}
	}

	&__deadline {
		font-size: 1.8rem;
		line-height: 2.4rem;
		font-weight: 400;
		margin-top: 13px;

		span {
			font-weight: 500;
		}
	}

	&__button {
		display: inline-block;
		height: 43px;
		line-height: 41px;
		padding: 0 60px;
		background-color: rgb(43, 43, 43);
		border: 1px solid rgb(43, 43, 43);
		font-weight: 500;
		font-size: 14px;
		text-transform: uppercase;
		color: $c-accent;
		border-radius: 8px;
		overflow: hidden;
		transition: color 0.2s ease, background-color 0.2s ease;
		box-sizing: border-box;
		margin-top: 27px;

		&:hover,
		&:focus,
		&:hover {
			color: rgb(43, 43, 43);
			background-color: $c-accent;
		}
	}

	&__location {
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 2.1rem;
		margin: 20px 0;
	}
}