{% assign filter_categories = '' %}
{% assign filter_types      = '' %}

{% for section in site.work-offers-section %}
	{% if section.title contains page.20_work_offers_section %}
		{% for current in section.20_work_offers %}
			{% for offer in site.work-offers %}
				{% if offer.title contains current %}

					{% include settings/offer.html %}

					{% if filter_categories == empty %}
						{% assign filter_categories = offer_category %}
					{% else %}
						{% assign filter_categories = offer_category | prepend: '*' | prepend: filter_categories %}
					{% endif %}

					{% if filter_types == empty %}
						{% assign filter_types = offer_type %}
					{% else %}
						{% assign filter_types = offer_type | prepend: '*' | prepend: filter_types %}
					{% endif %}

				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endif %}
{% endfor %}

{% assign filter_categories = filter_categories | split: '*' | uniq' %}
{% assign filter_types      = filter_types | split: '*' | uniq %}


{% capture filter_latest %}{% t work_offers.latest %}{% endcapture %}