---
layout: events-single
---

{% capture html_content %}
<!-- START HTML -->

{% include head.html %}

	{% include components/page-header.html %}

	{% assign object = page %}
	{% include settings/date-event.html %}

	<div class="contentPage">
		<div class="wrapper wrapper--inside">
			<div class="stdCols__cols">
				<div class="stdCols__col">
					<div class="contentPage__content">
						{% capture title %}{% value page.title %}{% endcapture %}
						<h2 class="contentPage__title">
							{{ title | markdownify | remove: '<p>' | remove: '</p>' }}
						</h2>
						<div class="contentPage__date">
							<strong>{% t event %}</strong> - 
							{% numerals {{ day_start }} %} {% t months.full.{{month_start}} %} {% numerals {{ year_start }} %}
						</div>

						{% capture content %}{% value page.content %}{% endcapture %}
						<div class="contentPage__desc textWrap">{{ content | markdownify }}</div>
					</div>
				</div>
				<div class="stdCols__col stdCols__col--margin">
					<div class="workBox">
						<div class="workBox__map google__map" data-marker="/img/marker.png" data-lat="{{ page.location.lat }}" data-lng="{{ page.location.lng }}"></div>
						<div class="workBox__data">
							<ul>
								<li class="date">
									<span>
										{% numerals {{ day_start }} %} {% t months.full.{{month_start}} %}
										{% if date_start != date_end %}
											- {% numerals {{ day_end }} %} {% t months.full.{{month_end}} %}
										{% endif %}
									</span>
									{% numerals {{ time_start }} %} {% t time.{{hour_start}} %}
									 - 
									{% numerals {{ time_end }} %} {% t time.{{hour_end}} %}
								</li>
								<li class="location">{% value page.address %}</li>

								{% capture info %}{% value page.info_text %}{% endcapture %}
								{% if info != empty  %}
									<li class="info">
										{{ info | markdownify | remove: '<p>' | remove: '</p>' }}
									</li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include sections/events-and-news.html %}

{% include footer.html %}

<!-- END HTML -->
{% endcapture %}{{ html_content | minify }}