---
layout: index
---

{% capture html_content %}
<!-- START HTML -->

{% include head.html %}

	<div id="siteRoot" class="siteRoot" data-x="{{ page.is_events_news_visible }}">

		{% include sections/slider.html %}

		{% include sections/products.html %}

		{% include sections/banner.html %}

		{% include sections/video-banner.html %}

    {% if page.is_events_news_visible %}
		  {% include sections/events-and-news.html %}
    {% endif %}

    {% if page.is_steps_visible %}
		  {% include sections/steps.html %}
    {% endif %}

    {% if page.is_partners_visible %}
		  {% include sections/partners.html %}
    {% endif %}

	</div>

{% include footer.html %}

<!-- END HTML -->
{% endcapture %}{{ html_content | minify }}