---
layout: work-single
---

{% capture html_content %}
<!-- START HTML -->

{% include head.html %}

	{% include components/page-header.html %}

	{% include settings/offer.html %}

	<div class="contentPage">
		<div class="wrapper wrapper--inside">
			<div class="closeButton">
				<a href="{% t lang_slug %}/career">Back to open positions</a>
			</div>
			<div class="stdCols__cols">
				<div class="stdCols__col stdCols__col--big">
					<div class="contentPage__content">
						{% capture title %}{% value page.title %}{% endcapture %}
						<h2 class="contentPage__title">
							{{ title | markdownify | remove: '<p>' | remove: '</p>' }}
						</h2>

						{% capture content %}{% value page.content %}{% endcapture %}
						<div class="contentPage__desc textWrap textWrap--career">{{ content | markdownify }}</div>
					</div>
				</div>
				<div class="stdCols__col stdCols__col--small stdCols__col--margin">
					<div class="offerBox">
						<div class="offerBox__data">
							<p class="offerBox__amount"><span>{{ page.amount.min }} - {{ page.amount.max }}</span> {% t work_offers.currency %}</p>
							<p class="offerBox__deadline">{% t work_offers.deadline %}: <span>{{ offer_deadline }}</span></p>
							<a href="#" class="offerBox__button">{% t work_offers.apply %}</a>
							<p class="offerBox__location">{{ offer_city }}, {{ offer_country }}</p>
						</div>
						<div class="offerBox__map google__map" data-marker="/img/marker.png" data-lat="{{ offer_lat }}" data-lng="{{ offer_lng }}"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include sections/banner.html %}

	{% include sections/partners.html %}

{% include footer.html %}

<!-- END HTML -->
{% endcapture %}{{ html_content | minify }}