$c-lightest: #fff;
$c-darkest: #000;
$c-dark: #111;
$c-main: #8dc63f;
$c-mainDark: #62ab01;
$c-mainLight: #9AD945;
$c-gray: #bcbec0;
$c-grayDark: #939598;
$c-border: #c5c6c7;
$c-light: #f1f1f2;
$c-accent: rgb(117, 189, 15);